{% extends "../templates/base.html" %}
{% block 'content' %}
	<h1 id="account_information">Account Information</h1>
	<div id="content">
		<h2>Account Information</h2>
		<p>
			Account Sid: {{data.Account.Sid}}<br />
			Account Token: {{data.Account.AuthToken}}<br />
			Email: {{data.Account.Email}}<br />
			Friendly Name: {{data.Account.FriendlyName}}<br />
		</p>
		<h2>Links</h2>
		<p>
			<a href="/phone-numbers">Phone Numbers</a><br>
			<a href="/calls">Calls</a><br>
			<a href="/logout">Logout</a>
		</p>
	</div>
{% endblock %}