<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Twilio API</title>
	<style type="text/css" media="screen">
		body{
			background:#ee9999;
			margin-top:100px;
		}
		#content{
			border:10px solid #fff;
			padding:20px;
			background:#ccc;
			border-radius:25px;
			height:400px;
			width:780px;
			margin:0 auto;
			-webkit-box-shadow:5px 5px 25px #000;
			box-shadow:5px 5px 25px #000;
		}
		#content h1{
			padding-bottom:15px;
			text-align:center;
			border-bottom:1px dashed #fff;
		}
		#content .center{
			text-align:center;
			font-size:36px;
		}
		#content label{
			font-size:20px;
		}
	</style>
</head>
<body>
	<div id="content" class="">
		{% block 'content' %}
		
		{% endblock %}
	</div>
</body>
</html>