{% extends "../templates/base.html" %}
{% block 'content' %}
	<h1 id="fake_twilio_api">Fake Twilio API</h1>
	<p class="center">
		<a href="/login">Login</a><br><br>
		<a href="/register">Register</a>
	</p>
	<p style="text-align:center">
		Disclaimer: This project is in no way authorized or supported by Twilio Inc. <a href="http://www.twilio.com">http://www.twilio.com</a><br>
		The source code that powers this webpage is located at : <a href="https://github.com/arfrank/Fake-Twilio-Api">https://github.com/arfrank/Fake-Twilio-Api</a>
	</p>
{% endblock %}